.product{
    display: flex;
    margin: 20px 0;
    .product__left{
        width: 50%;

    }
    .product__right{
        width: 50%;
    }
}
@media(max-width:920px){
    .product{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .product__left{
            width: 100%;
        }
        .product__right{
            width: 95%;
        }
    }
}