@import '~normalize.css';
@import './variables.scss';

body{
    box-sizing: border-box;
    background-color: $bg-color-body;
    font-size: $font-size;
    font-family: $font-family;
    font-weight: $font-weight;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}