@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@200;300;700&display=swap');

$bg-color-body: #E5E5E5;
$bg-button: #E0BEA2;
$bg-button-active: #CCA88A;
$color-elements: #E0BEA2;

$color-dark: #252525;
$color-white: #fff;

$font-size: 16px;
$font-weight: 300;
$font-family: 'Raleway', sans-serif;

$border-light: 1px solid #E0BEA2;
$border-dark: 1px solid #25252581