.qtty{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60px;
    border: 1px solid #2525257f;
    padding: 10px;
    .qtty__input{
        background-color: transparent;
        width: 20px;
        border: none;
        outline: none;
        text-align: center;

    }
    input[type='number'] {
        -moz-appearance:textfield;
    }
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}
@media(max-width: 420px){
    .qtty{
        padding: 5px;
    }
}