@import '../../styles/variables.scss';

.dropdown{
 width: 46px;
 position: relative;
 margin: 10px;
  .dropdown-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: $bg-color-body;
    border: none;
    .dropdown-arrow{
      width: 5px;
      height: 5px;
      border-top: 1px solid $color-dark;
      border-right: 1px solid $color-dark;
      transform: rotate(135deg) translate(-1px, 2px);
      transition: all .5s ease;
      margin-left: 10px;
    }
    .dropdown-arrow.active{
      transform: rotate(-45deg) translate(-1px, -1px); 
      
    }
  }
  .dropdown-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    background-color: $bg-color-body;
    z-index: 2;
    
    .dropdown-item{
      background-color: $bg-color-body;
      width: 100%;
      border: none;
      padding-top: 5px;
      border-top: 1px solid $color-elements;
      text-align: center;
      cursor: pointer;
      text-transform: uppercase;
      
    }
  }
  .dropdown-content.active{
    opacity: 1;
    top: 110%;
    visibility: visible;
  }
}